* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generale */
.ms_star-white::after, .ms_star-white::before {
    content: "";
    display: inline-block;
    height: 3px;
    width: 100px;
    border-radius: 1.5px;
    vertical-align: middle;
    background-color: white;
}

.ms_star-dark::after, .ms_star-dark::before {
    content: "";
    display: inline-block;
    height: 3px;
    width: 100px;
    border-radius: 1.5px;
    vertical-align: middle;
    background-color: #2C3E50;
}
/* FINE generale */

/* header */
.ms_color-header {
    background-color: #2C3E50;
    height: 80px;
}

header li {
    list-style: none;
}

header a {
    color: white;
    text-decoration: none;
}

header .hamburger{
    display: none;
}

@media (max-width: 768px) {
    header .hamburger{
        display: block;
        font-size: 30px;
    }

    .fa-bars {
        color: gray;
    }

    header li {
        display: none;
    }
}
/* FINE header */

/* main */
.ms_margin-main {
    margin-top: 80px;
}

.ms_color-main1 {
    background-color: #1ABC9C;
}

.ms_color-main2 {
    color: #2C3E50;
}

/* section start */
#start {
    padding: 50px 0;
}

#start .ms_img {
    width: 200px;
}
/* FINE section start */

/* section portfolio */
#portfolio {
    padding: 50px 0;
}

.ms_item {
    width: 100%;
    margin-bottom: 24px;
    border-radius: 10px;
    overflow: hidden;
}
/* FINE section portfolio */
/* FINE main */

/* footer */
.ms_color-footer1 {
    background-color: #4d6f8f;
}

.ms_color-footer2 {
    background-color: #3A546D;
}
/* FINE footer */

/* debug */
.debug .ms_color-footer1 {
    height: 200px;
}

.debug .ms_color-footer2 {
    height: 100px;
}

.debug .ms_border-white {
    border: 2px solid white;
}

.debug .ms_border-dark {
    border: 2px solid black;
}

.debug .ms_item {
    background-color: lightgreen;
}